@font-face {
  font-family: Fixedsys;
  src: url(fonts/fixedsys-excelsior.ttf);
}@font-face {
  font-family: System;
  src: url(fonts/System.woff2);
}@font-face {
  font-family: W95FA;
  src: url(fonts/w95fa.woff2);
}@font-face {
  font-family: Chicago;
  src: url(fonts/chicago.ttf);
}@font-face {
  font-family: Charcoal;
  src: url(fonts/charcoal.woff2);
}
body {
	background-image: url('themes/win1/bg.png');
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
}
tr {
  background-color: #ffffff;
}
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.search-input {
position: relative;
max-width: 300px;
margin: auto;
}

#suggestions {
list-style: none;
padding: 0;
display: none;
position: absolute;
background-color: white;
width: 100%;
border: none;
z-index: 1;
}

#suggestions_win {
list-style: none;
padding: 0;
display: none;
position: absolute;
background-color: white;
width: 100%;
border: none;
z-index: 1;
}

input::placeholder {
color: rgb(146, 146, 146);
}

#suggestions_mac {
list-style: none;
padding: 0;
display: none;
position: absolute;
background-color: white;
width: 100%;
border: none;
z-index: 1;
}

input::placeholder {
color: rgb(146, 146, 146);
}

#suggestions_os2 {
list-style: none;
padding: 0;
display: none;
position: absolute;
background-color: white;
width: 100%;
border: none;
z-index: 1;
}

input::placeholder {
color: rgb(146, 146, 146);
}

.button {
  display: block;
  width: 100%;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.center_text {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.end_button {
margin: 0;
position: absolute;
top: 80%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

#conglaturations {
display: none;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
background-color: #fff;
width: 500px;
height: 100px;
}
